apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: api.optirisk
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: optirisk-backend-dev-service
            port:
              number: 8003