apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: optirisk-backend-pg-pvc
    namespace: optirisk
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 256Mi 
