name: CI
permissions:
  contents: read
on:
  push:
    branches: [main,develop]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      # Actions épinglées par SHA
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Installer Python
        uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.12'

      - name: Installer les dépendances
        run: pip install -r requirements.txt

      - name: Lancer les tests
        run: pytest
