name: build
permissions:
  contents: read

on:
  push:
    branches: [main,develop]
  workflow_dispatch:


jobs:
  build-dev:
    env:
      DOCKER_IMAGE: ${{secrets.DOCKER_USERNAME}}/${{github.event.repository.name}}
      IMAGE_TAG: ${{github.sha}}
    runs-on: ubuntu-24.04
    steps:
      # Actions épinglées par SHA
      - name:  Récuperer le projet
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
      - name: check branch
        run: git branch

      - name: Installer les dépendances et build
        run: |
          echo ${{secrets.DOCKER_TOKEN}} | docker login -u ${{secrets.DOCKER_USERNAME}} --password-stdin 
          docker build -t $DOCKER_IMAGE:$IMAGE_TAG .
          docker tag $DOCKER_IMAGE:$IMAGE_TAG $DOCKER_IMAGE
          docker push $DOCKER_IMAGE:$IMAGE_TAG
          docker push $DOCKER_IMAGE
