name: build
permissions:
  contents: read
on:
  push:
    branches: [main,develop]

jobs:
  build-dev:
    runs-on: ubuntu-latest
    steps:
      # Actions épinglées par SHA
      - uses: actions/checkout@v6.0.2

      - name: Installer Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.12'

      - name: Installer les dépendances et build
        run: |
          echo ${{secrets.GITHUB_TOKEN}} | ddocker login -u {{secrets.DOCKER_TOKEN}} --password-stdin 
          docker build -t test .
          docker push test
          


